{
    "Comment": "CREATE/DELETE/UPSERT a record ",
    "Changes": [{
        "Action": "UPSERT",
        "ResourceRecordSet": {
            "Name": "{{ record }}",
            "Type": "{{ type }}",
            "TTL": 300,
            "ResourceRecords": [{ "Value": "{{ val }}"}]
        }
    }]
}
